@import "../../styles/customMediaQueries.scss";
@import "../../styles/variables.scss";
.pagination-box {
  text-align: center;
  margin-top: 48px;
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      &.page-navigate-icon {
        float: left;
        text-decoration: none;
        transition: background-color 0.3s;
        margin: 0 12px;
        background: #ffffff;
        border: 1px solid #005b58;
        border-radius: 50%;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #101820;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        & > img {
          max-width: 100%;
        }
      }
      &:hover:not(.active) {
        background-color: #ddd;
      }
      &.pagination-count {
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        margin: 0 12px;
        background: #ffffff;
        border: 1px solid #005b58;
        border-radius: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        color: #101820;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          color: white;
          border: 1px solid #005b58;
          background: #005b58;
          border-radius: 10px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .pagination-box .pagination .pagination-count {
    margin: 0 3px;
  }
  .page-navigate-icon {
    margin: 0 3px;
  }
}
