@import "../../styles/customMediaQueries.scss";
@import "../../styles/variables.scss";
.input-wrap {
  position: relative;
  margin-bottom: 24px;
  input {
    background: $white-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black-color;
    padding: 12px 12px 12px 55px;
    width: 100%;
    position: relative;
    outline: none;
  }
  textarea {
    background: $white-color !important;
    border: 1px solid $border-color !important;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black-color;
    padding: 12px 12px 12px 55px;
    width: 100%;
    height: 150px;
    position: relative;
  }
  .input-icon {
    position: absolute;
    left: 16px;
    top: 16px;
    height: auto;
    width: 18px;
    > img {
      max-width: 100%;
      width: 16px;
      height: 16px;
    }
  }
}
.react-tel-input {
  & input {
    width: 100% !important;
    height: 50px !important;
    background: #fff !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    padding: 12px 12px 12px 55px;
    position: relative;
  }
}
