.form-box input {
  background: #ffffff;
  border: 1px solid #3e4348;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101820;
  padding: 12px 12px 12px 55px;
  width: 100%;
}

.form-box {
  position: relative;
  margin-bottom: 24px;
}
.contact-form span.input-icon {
  position: absolute;
  left: 18px;
  top: 13px;
  height: auto;
  width: 18px;
}
.contact-form span.input-icon > img {
  max-width: 100%;
}
