.button-box button {
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  padding: 12px 30px;
  font-size: 16px;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: #ffffff;
  background: #005b58;
  border-radius: 50px;
  border: 1px solid #005b58;
  cursor: pointer;
}
.button-box button:hover {
  background-color: rgb(0 0 0 / 78%);
  color: #ffffff;
}
@media (min-width: 768px) {
  padding: 14px 38px;
  font-size: 18px;
}
