.cover-full-box {
  margin-top: 96px;
  padding: 0 200px;
  margin-bottom: 138px;
}

.blog-wrap-data {
  display: flex;
  gap: 96px;
}

.blog-card-cover {
  width: 55%;
}

.blog-card-article {
  width: 45%;
}

.search-box {
  background: #005b58;
  border-radius: 10px;
  padding: 24px 48px;
}

.search-box input {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #3e4348;
  background: #ffffff;
  border: 1px solid #005b58;
  border-radius: 50px;
  padding: 18px 18px 18px 60px !important;
  width: 100%;
}

.input-box-wrap {
  position: relative;
}

.input-box-wrap span {
  position: absolute;
  left: 24px;
  top: 18px;
}

.article-box-wrap-card {
  margin-top: 24px;
}

.article-box-wrap-card .article-card {
  height: 345px;
  overflow: auto;
  padding-right: 10px;
}

.article-box-wrap-card .article-card::-webkit-scrollbar {
  width: 5px;
}

.article-box-wrap-card .article-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.article-box-wrap-card .article-card::-webkit-scrollbar-thumb {
  background: #888;
}

.article-box-wrap-card .article-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.all-article-heading h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #3e4348;
  margin-bottom: 0;
}

.all-article-wrap .most-popular-article {
  width: 30%;
}

.popular-wrap-box .popular-article-card-box {
  margin-bottom: 37px;
  padding: 5px 10px;
}
.popular-list {
  padding: 10px;
}
.popular-list:hover {
  background: #e1f7f7;
}
.popular-wrap-box a {
  text-decoration: none;
  color: #101820;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.popular-wrap-box .popular-article-card-box:after {
  content: "";
  background-color: #3e4348;
  height: 1px;
  position: absolute;
  width: 100%;
  bottom: -17px;
  left: 0;
}

.subscribe-box {
  margin-top: 96px;
}

.all-article-wrap {
  margin-top: 34px;
  display: flex;
  margin-bottom: 96px;
  gap: 68px;
}

.all-article-wrap .article-list-wrap {
  width: 70%;
}

.article-list-wrap .blog-card-box {
  width: 50%;
}

.article-card-list-most {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-gap: 60px;
  gap: 60px;
}

.article-card-list-most .all-article-card-box {
  /* float: left;
    width: 50%;
    padding: 0 10px 40px 10px; */
  cursor: pointer;
  box-shadow: none;
  border: 2px solid transparent;
  padding: 23px;
  transition: all 0.2s ease;
}

.article-card-list-most .all-article-card-box:hover {
  box-shadow: 0px 0px 5px 0px rgb(235 254 254);
  border: 2px solid #eee;
}
.article-main-box {
  margin-top: 50px;
}

.most-popular-article .most-polular h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-transform: capitalize;
  color: #3e4348;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 12px;
}

.most-popular-article .most-polular h1::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #3e4348;
  width: 100%;
  bottom: 0;
  left: 0;
}

.most-polular {
  background: rgba(87, 248, 243, 0.12);
  border-radius: 10px;
  padding: 48px 24px;
}

.article-box-wrap-card .article-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-transform: capitalize;
  color: #3e4348;
  position: relative;
  margin-bottom: 37px;
}

.article-box-wrap-card .article-heading::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -12px;
  background-color: #3e4348;
}

section.blog-detail-box .blog-detail-header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #101820;
  margin-bottom: 0;
}

section.blog-detail-box .blog-detail-header {
  padding: 0 10em;
}
.blog-detail-cover .blog-application-cover-image {
  height: 500px;
  width: 100%;
}
.blog-detail-cover .blog-application-cover-image img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  border: 1px solid #eee;
}

.blog-detail-cover .blog-description-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-detail-cover .blog-description-data {
  margin-top: 24px;
}

.blog-description-data .blog-detail-data .blog-card-date {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: #101820;
  position: relative;
}

.blog-detail-cover .blog-description-data .blog-detail-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #005b58;
}

.blog-detail-cover .blog-description-data .blog-detail-data {
  display: flex;
  align-items: center;
}

.blog-description-data .blog-detail-data .blog-card-posted-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #3e4348;
  padding-left: 28px;
}

.blog-description-data .blog-detail-data .blog-card-posted-name span {
  color: #101820;
}

.blog-description-data .blog-detail-data .blog-card-date:after {
  content: "";
  height: 4px;
  width: 4px;
  background: #005b58;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  margin-top: -3px;
  right: -14px;
}

.blog-detail-grid-wrap .blog-detail-body {
  display: flex;
  gap: 96px;
}

.blog-detail-grid-wrap {
  margin-top: 48px;
}

.blog-detail-right-wrap {
  width: 30%;
}

.blog-detail-body .blog-detail-left-wrap {
  width: 70%;
}

.blog-detail-sidebar-subscribe {
  margin-top: 97px;
}

.blog-detail-left-wrap .detail-description-wrap p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3e4348;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-detail-left-wrap .blog-chronology-box {
  margin-top: 24px;
}

.blog-detail-left-wrap .blog-chronology-box .blog-image-chronology {
  margin-top: 39px;
}

.blog-detail-left-wrap .blog-chronology-box .blog-chronology-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-transform: capitalize;
  color: #101820;
}

.blog-chronology-box .blog-web-box {
  margin-top: 48px;
}

.blog-chronology-box .blog-web-box ul {
  margin-top: 15px;
  list-style-type: none;
}

.blog-chronology-box .blog-web-box ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #005b58;
  margin-bottom: 12px;
  position: relative;
}

.blog-chronology-box .blog-web-box ul li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #101820;
  border-radius: 50%;
  left: -18px;
  top: 8px;
}

.blog-security-data {
  margin-top: 23px;
}

.blog-chronology-box .blog-web-box .blog-security-data p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3e4348;
  margin-bottom: 0;
}

.blog-chronology-box .blog-web-box .blog-security-data p:nth-child(1) {
  margin-bottom: 12px;
}

.blog-chronology-box .blog-web-box .blog-security-image {
  margin: 48px 0;
}

.blog-conclusion-data {
  margin-top: 15px;
}

.blog-conclusion-data .conclusion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #3e4348;
}

.blog-box-bottom-wrap {
  margin-top: 48px;
}

.blog-conclusion-data .conclusion-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 33px;
  color: #3e4348;
}
.blog-hire-contact-box {
  background: linear-gradient(
    269.91deg,
    #57f8f3 -22.82%,
    rgba(0, 91, 88, 0.92958) 25.29%,
    rgba(0, 91, 88, 0.8) 83.49%,
    rgba(61, 201, 196, 0.939583) 107.5%
  );
  border-radius: 10px;
  text-align: center;
  padding: 48px 0;
}
.hire-development-team-text {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}
.blog-hire-contact-box button {
  background: #ffffff;
  border-radius: 50px;
  padding: 12px 48px;
  border: 1px solid #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #005b58;
  cursor: pointer;
}
.blog-box-bottom-wrap {
  margin-top: 48px;
}
.related-post-box {
  margin-top: 48px;
}
.blog-box-bottom-wrap .related-post-box .related-post-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-transform: capitalize;
  color: #3e4348;
  position: relative;
}
.blog-box-bottom-wrap .related-post-box .related-post-heading::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #3e4348;
  bottom: -5px;
  left: 0;
}
.related-post-box .related-slider {
  margin-top: 24px;
}
.article-slide {
  padding: 0 10px;
  width: 100% !important;
}
.blog-comment-section {
  margin-top: 48px;
}
.related-slider .slick-prev {
  left: 14px;
  z-index: 9;
  /* background-image: url(../../../public/static/leftArrow.png) !important; */
  height: 48px !important;
  background-size: 48px !important;
  width: 48px !important;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 50px;
  top: 45%;
}
.related-slider Button.slick-arrow.slick-next {
  right: 14px;
  z-index: 9;
  /* background-image: url(../../../public/static/rightArrow.png) !important; */
  height: 48px !important;
  background-size: 48px !important;
  width: 48px !important;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 50px;
  top: 45%;
}
.related-slider .slick-prev::before {
  display: none;
}
.related-slider .slick-next::before {
  display: none;
}
.blog-detail-right-wrap .most-polular h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #3e4348;
}

@media (max-width: 1600px) {
  .cover-full-box {
    margin-top: 80px;
    padding: 0 120px;
    margin-bottom: 120px;
  }

  .blog-wrap-data {
    gap: 70px;
  }

  .all-article-wrap {
    gap: 50px;
  }

  .blog-header h1 {
    font-size: 40px !important;
    line-height: 56px !important;
  }
}

@media (max-width: 1440px) {
  .cover-full-box {
    margin-top: 70px;
    padding: 0 60px;
    margin-bottom: 100px;
  }
  .article-card-list-most .all-article-card-box {
    padding: 15px;
  }
  .article-card-list-most {
    grid-gap: 30px;
    gap: 30px;
  }

  .blog-wrap-data {
    gap: 40px;
  }

  .all-article-wrap {
    gap: 35px;
  }

  .article-main-box {
    margin-top: 30px;
  }

  .most-polular {
    padding: 24px;
  }

  .blog-header h1 {
    font-size: 34px !important;
  }
}

@media (max-width: 1200px) {
  .cover-full-box {
    margin-top: 24px;
    padding: 0 24px;
    margin-bottom: 60px;
  }

  .blog-wrap-data {
    gap: 20px;
  }

  .all-article-wrap {
    gap: 20px;
    margin-bottom: 50px;
  }

  .subscribe-box {
    margin-top: 50px;
  }

  .subscribe-input-box {
    margin-bottom: 30px;
  }

  .search-box {
    padding: 20px;
  }

  .blog-card-box .blog-profile-list {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .blog-wrap-data {
    flex-direction: column;
    gap: 60px;
  }
  .article-card-list-most {
    grid-template-columns: repeat(2, 48%);
  }
  .blog-card-cover {
    width: 100%;
  }

  .blog-cover-image img {
    width: 100%;
  }

  .blog-card-box .blog-profile-list {
    width: unset;
    margin-right: 12px;
    flex: 1;
  }

  .blog-card-article {
    width: 100%;
  }

  .article-box-wrap-card .article-card {
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: auto !important;
    width: 100%;
    flex-wrap: unset;
    padding-top: 40px;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: flex;
    overflow: unset;
    height: unset;
  }

  .article-box-wrap-card .article-card .article-card-box {
    width: 100%;
    min-width: 40%;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
  }
  .article-card-box .blog-cover-image img {
    width: 100%;
  }
  .blog-cover-image {
    width: 100%;
  }
  .article-card-box .blog-card-data {
    margin-top: 20px;
    margin-left: 0;
  }

  .all-article-wrap {
    flex-wrap: wrap;
  }

  .all-article-wrap .article-list-wrap {
    width: 100%;
  }

  .all-article-wrap .most-popular-article {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 50px;
  }

  .subscribe-box {
    margin-top: 0;
  }
  .blog-detail-box .blog-detail-header {
    padding: 0 !important;
  }
  .blog-detail-grid-wrap .blog-detail-body {
    flex-wrap: wrap;
    gap: 0;
  }
  .blog-detail-body .blog-detail-left-wrap {
    width: 100%;
  }
  .blog-detail-right-wrap {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .blog-detail-cover .blog-application-cover-image {
    height: 250px;
  }
  .blog-hire-contact-box {
    padding: 48px 24px;
  }
  .article-box-wrap-card .article-card .article-card-box {
    width: 100%;
    min-width: 55%;
  }
  .most-popular-article {
    gap: 20px !important;
  }

  .subscribe-box-wrap {
    padding: 24px;
  }
  section.blog-detail-box .blog-detail-header h1 {
    font-size: 32px;
    line-height: 48px;
  }
  section.blog-detail-box .blog-detail-header h1 {
    font-size: 26px;
    line-height: 36px;
  }
  .article-box-wrap-card .article-heading {
    font-size: 22px;
  }
  .all-article-heading h3 {
    font-size: 22px;
  }
  .all-article-card-description {
    font-size: 18px;
    line-height: 23px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .most-popular-article .most-polular h1 {
    font-size: 22px;
    line-height: 32px;
  }
  .subscribe-card-box h3 {
    font-size: 22px;
    line-height: 29px;
  }
  .blog-detail-left-wrap .blog-chronology-box .blog-chronology-heading {
    font-size: 20px;
  }
  .blog-detail-right-wrap .most-polular h1 {
    font-size: 22px;
  }
  .hire-development-team-text {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .blog-box-bottom-wrap .related-post-box .related-post-heading {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .article-card-list-most .all-article-card-box {
    width: 100%;
  }

  .all-article-wrap .most-popular-article {
    flex-wrap: wrap;
  }

  .most-polular {
    width: 100%;
  }

  .subscribe-box-wrap {
    width: 100%;
  }
  .article-card-list-most {
    grid-template-columns: repeat(1, 100%);
  }

  .article-box-wrap-card .article-card::after {
    display: none;
  }

  .blog-card-data .blog-card-detail-box {
    flex-direction: column;
  }

  .blog-card-description::before {
    display: none;
  }

  .blog-card-detail-box .blog-card-description {
    padding-left: 0;
    margin-top: 15px;
  }

  .popular-profile-name::after {
    display: none;
  }

  .blog-cover-image {
    width: 100% !important;
  }

  .blog-cover-image img {
    width: 100% !important;
  }
  .blog-detail-cover .blog-description-data {
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  .article-box-wrap-card .article-card .article-card-box {
    width: 100%;
    min-width: 85%;
  }
}
@media (max-width: 460px) {
  .blog-hire-contact-box button {
    font-size: 14px;
    padding: 10px 20px !important;
  }
  .related-slider .slick-prev {
    top: 36%;
  }
  .related-slider Button.slick-arrow.slick-next {
    top: 36%;
  }
  .blog-detail-left-wrap .blog-chronology-box .blog-chronology-heading {
    font-size: 18px;
  }
  .blog-chronology-box .blog-web-box .blog-security-data p {
    font-size: 14px;
  }
  .blog-conclusion-data .conclusion-text {
    font-size: 14px;
    line-height: 24px;
  }
  .blog-detail-right-wrap .most-polular h1 {
    font-size: 20px;
  }
  .hire-development-team-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 22px;
  }
  .blog-box-bottom-wrap .related-post-box .related-post-heading {
    font-size: 20px;
  }
  .blog-detail-grid-wrap {
    margin-top: 26px;
  }
  .article-box-wrap-card .article-card .article-card-box {
    width: 100%;
    min-width: 100%;
  }
}
