.project-list-cover {
  background-image: url(../../assets/images/tranding-cover.png);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10em 15em;
  text-align: center;
  border-top: 1px solid rgba(0, 152, 162, 0.3);
  position: relative;
}
.project-list-cover h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 160%;
  text-align: center;
  color: #101820;
  margin-bottom: 48px;
}
.project-list-cover p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #3e4348;
  margin-bottom: 0;
}
.project-list-cover .hiring-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
}
.deliver-service {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
}

@media (max-width: 1600px) {
  .project-list-cover {
    padding: 80px 120px;
  }
  .projectlist-main-box {
    padding: 80px 120px;
  }
  .project-list-cover h1 {
    font-size: 40px;
    line-height: 136%;
  }
  .deliver-qualitywork {
    padding: 80px 120px;
    gap: 40px;
  }

  .deliver-qualitywork .deliver-description {
    width: 65%;
  }
  .deliver-qualitywork .deliver-image-section {
    width: 35%;
  }
}
@media (max-width: 1440px) {
  .project-list-cover {
    padding: 90px;
  }
  .projectlist-main-box {
    padding: 90px;
  }
  .project-list-cover .hiring-buttons .button-box button {
    padding: 18px 40px;
  }
  .project-list-cover h1 {
    font-size: 34px;
  }
  .project-box img {
    height: 230px;
  }
}
@media (max-width: 1200px) {
  .project-list-cover {
    padding: 60px;
  }
  .projectlist-main-box {
    padding: 60px;
  }
  .project-list-cover .hiring-buttons {
    flex-wrap: wrap;
  }

  .project-list-cover .hiring-buttons .button-box button {
    width: 335px;
  }
}
@media (max-width: 1024px) {
  .project-list-cover {
    padding: 40px;
  }
  .projectlist-main-box {
    padding: 40px;
  }
  .project-list-cover h1 {
    font-size: 30px;
    margin-bottom: 28px;
  }
  .project-list-cover p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .project-list-cover {
    padding: 24px;
  }
  .projectlist-main-box {
    padding: 24px;
  }
  .project-list-cover h1 {
    font-size: 28px;
  }
}

@media (max-width: 460px) {
  .project-list-cover h1 {
    font-size: 26px;
  }
}
.project-list-cover {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  & .col-md-7 {
    width: 60%;
  }
  & .deliver-image-mobile {
    & img {
      width: 600px;
    }
  }
}
