@import "../../styles/customMediaQueries.scss";
@import "../../styles/variables.scss";

.blog-card-box {
  position: relative;
  width: 100%;

  .blog-cover-image {
    position: relative;
    padding-bottom: 50%;
    border-radius: 10px;
    overflow: hidden;
    & > img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
  .blog-card-data {
    margin-top: 24px;
    .blog-card-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      color: $base-color;
      margin-bottom: 0;
    }
    .blog-card-detail-box {
      margin-top: 24px;
      display: flex;
      align-items: center;

      .blog-profile-list {
        display: flex;
        align-items: center;
        img {
          height: 48px;
          width: 48px;
          border-radius: 50%;
        }
        .card-profile-wrap {
          padding: 0 24px 0 12px;

          .profile-name {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-transform: capitalize;
            color: $black-color;
            span {
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 20px;
              text-transform: capitalize;
              color: $text-color;
            }
          }
          .post-date {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-transform: capitalize;
            color: $black-color;
            margin-top: 2px;
          }
        }
      }

      .blog-card-description {
        padding-left: 24px;
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        text-transform: capitalize;
        color: $black-color;
        &::before {
          content: "";
          height: 100%;
          background: #c4c4c4;
          width: 1px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .blog-description {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-transform: capitalize;
      color: $text-color;
      margin-top: 27px;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
