.blog-card-box{
    position: relative;
    width: 100%;
}

.blog-card-data {
    margin-top: 24px;
}
h5.blog-card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #005B58;
    margin-bottom: 0;
}
.blog-card-data .blog-card-detail-box {
    margin-top: 24px;
    display: flex;
}
.blog-profile-list img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.profile-name span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #3E4348;
}
.profile-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #101820;
}
.post-date {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #101820;
    margin-top: 4px;
}
.card-profile-wrap {
    margin-left: 12px;
}
.blog-card-box .blog-profile-list {
    display: flex;
    align-items: center;
    margin-right: 0;
    width: 39%;
}
.blog-card-description::before {
    content: "";
    height: 72px;
    background: #C4C4C4;
    width: 1px;
    position: absolute;
    left: 0;
    top: -8px;
}
.blog-card-description {
    padding-left: 12px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-transform: capitalize;
    color: #101820;
}
.blog-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #3E4348;
    margin-top: 27px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.blog-cover-image img {
    border-radius: 10px;
    width: 100%;
}

@media(max-width: 1024px){
    h5.blog-card-title {
        font-size: 18px;
        line-height: 26px;
    }
}