@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
$base-color: #005b58;
$base-light-color: #c8f9f8;
$secondary-color: #57f8f3;
$black-color: #000;
$text-color: #333;
$label-color: #707070;
$white-color: #fff;
$border-color: #e1e1e1;
$light-bg: #f2f2f2;
$hover-bg: rgb(0 0 0 / 78%);
$box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
$transiton: all ease 0.5s;

$font-family: "Poppins", sans-serif;

html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-family !important;

  /* A non-standard feature: https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  text-rendering: optimizeSpeed;
  font-optical-sizing: auto;

  background-color: var(--colorWhite);
  margin: 0;
  padding: 0;
}
::-moz-selection {
  /* Code for Firefox */
  color: $white-color;
  background: $base-color;
}

::selection {
  color: $white-color;
  background: $base-color;
}
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}

/* common style */
.btn {
  background: $base-color;
  border-radius: 50px;
  padding: 12px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: $white-color;
  transition: all ease 0.5s;
  &:hover {
    transition: all ease 0.5s;
    color: $white-color;
    background-color: $hover-bg;
  }
}
