@import "../styles/customMediaQueries.scss";
@import "../styles/variables.scss";

.explore-data-tab {
  display: flex;
  flex-direction: column;
  @include lg {
    flex-direction: row;
  }

  .explore-data-left {
    width: 100%;
    @include lg {
      width: 40%;
    }

    .data-left-inner {
      padding: 48px;
      h3 {
        margin-bottom: 24px;
        span {
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 140%;
          color: $black-color;
          margin-bottom: 0;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            background: $base-color;
            border-radius: 10px;
            height: 2px;
            width: 100%;
            left: 0;
            margin-bottom: -8px;
          }
        }
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black-color;
        margin-bottom: 0;
      }

      .analyze-card {
        display: flex;
        grid-gap: 5px;
        gap: 5px;
        flex-wrap: wrap;
        margin-top: 20px;
        .AnalyzeListCard-card {
          background-color: $white-color;
          position: relative;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: left;
          color: $black-color;
          border-radius: 10px;
          z-index: 0;
          margin-bottom: 10px;
          &:not(:last-child) {
            margin-right: 10px;
          }
          & > span {
            position: relative;
            z-index: 1;
            background-color: $white-color;
            color: $black-color;
            padding: 5px 10px;
            display: inline-block;
            border: 2px solid $base-color;
            border-radius: 10px;
          }
          &::before {
            background: linear-gradient(
              262.34deg,
              #feebf1 -9.24%,
              rgba(87, 248, 243, 0.28) 99.6%
            );
            content: "";
            z-index: 0;
            width: 100%;
            left: -4px;
            height: calc(100% - 10%);
            bottom: -4px;
            display: inline-block;
            position: absolute;
            border-radius: 10px;
          }
          &::after {
            background: #feebf1;
            content: "";
            z-index: 0;
            width: 100%;
            right: -4px;
            height: calc(100% - 10%);
            top: -4px;
            display: inline-block;
            position: absolute;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .explore-data-right {
    width: 100%;
    display: none;
    @include lg {
      width: 60%;
      display: block;
    }
    & > img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

span.previous-btn {
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  transform: translate(-17%, -50%);
}

span.next-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(17%, -50%);
  cursor: pointer;
}
