.AnalyzeListCard-card {
    background: #FFFFFF;
    padding: 14px 22px 16px 22px;
    position: relative;
    background-image: url(../assets/images/cardborder.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px; 
    line-height: 24px;
    text-align: center;
    color: #3E4348;
}
.explore-data-left h3 span {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #101820;
    margin-bottom: 0;
    position: relative;
}

.explore-data-left h3 span:after {
    content: "";
    position: absolute;
    bottom: 0;
    background: #005B58;
    border-radius: 10px;
    height: 2px;
    width: 100%;
    left: 0;
    margin-bottom: -8px;
}

.explore-data-left h3 {
    margin-bottom: 24px;
    margin-top: 96px;
}

.explore-data-left p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3E4348;
    margin-bottom: 0;
}

.explore-data-left .analyze-card {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}
.explore-data-left {
    width: 40%;
}
.data-left-inner{
    padding: 0 48px;
}
.explore-data-tab {
    display: flex;
}
.explore-data-right {
    width: 60%;
}
.explore-data-right img{
    width: 100%;
    height: 100%;
}
span.previous-btn {
    position: absolute;
    left: 0;
    top: 50%;
    cursor: pointer;
    transform: translate(-17%, -50%);
}

span.next-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(17%, -50%);
    cursor: pointer;
}
@media(max-width: 1024px){
    .explore-data-left p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media(max-width: 768px){
    .explore-data-left h3 span {
        font-size: 22px;
        line-height: 33px;
    }
}
@media(max-width: 460px){
    .explore-data-left h3 span {
        font-size: 18px;
        line-height: 28px;
    }
}