.getintouch-box {
    padding: 96px 200px;
    background: #005B58;
}

.getintouch-form {
    width: 60%;
    padding: 96px 24px 96px 48px;
}
 
.form-box {
    /* display: flex; */
    flex-wrap: wrap;
}

.getbox-form {
    display: flex;
    background: #fff;
    border-radius: 10px;
}

.getintouch-links {
    background-image: url(../../assets/images/contactlocation.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40%;
    position: relative;
}

.contact-data {
    background: rgba(0, 91, 88, 0.8);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 50px rgb(0 91 88 / 40%);
    border-radius: 0px 10px 10px 0px;
    height: 100%;
}

.contact-social-details {
    padding: 0 48px;
    margin-top: 48px;
}

.contact-social-details ul {
    list-style-type: none;
}

.contact-heading {
    background: #fff;
    padding: 13px 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #101820;
    margin-left: 48px;
    border-radius: 10px 0 0 10px;
}

.contact-details-right {
    padding: 96px 0;
}

.contact-input {
    padding: 12px !important;
    background: rgba(87, 248, 243, 0.05) !important;
    border: 1px solid #3E4348 !important;
    border-radius: 10px !important;
    font-weight: 500;
    width: 100%;
}
.button-box{
    margin-top: 48px;
}



.contact-social-details {
    padding: 0 48px;
    margin-top: 48px;
}

.contact-social-details ul {
    list-style-type: none;
}

.contact-details-right {
    padding: 96px 0;
}

.getintouch-form .form-box label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #140F30;
    margin-bottom: 8px;
}

p.gettouch-subheading {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #3E4348;
    margin-bottom: 23px;
}

h1.gettouch-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #101820;
    margin-bottom: 12px;
}
.form-row-box {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}
.form-main-group{
    width: calc(50% - 9px);
    display: flex;
    flex-direction: column;
}
.contact-social-details ul li {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
}

.contact-social-icon img {
    width: 48px;
    height: 48px;
}
.contact-social-icon {
    margin-right: 0;
    position: absolute;
}
.contact-social-details ul li span {
    padding-left: 74px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.st_map_st_contact_page{
    height: 300px;
}

@media(max-width: 1600px){
    .getintouch-box {
        padding: 96px 120px;
    }    
}
@media(max-width: 1440px){
    .getintouch-box {
        padding: 48px 90px;
    }    
    .contact-heading {
        background: #fff;
        padding: 13px 48px;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        margin-left: 10px;
    }    
    .contact-social-details {
        padding: 0 10px;
        margin-top: 48px;
    }
    .contact-social-details ul{
        padding-left: 0;
    }
    
}
@media(max-width: 1200px){
    .getintouch-box {
        padding: 40px;
    }
}
@media(max-width: 1024px){
    .form-main-group{
        width: 100%;
    }
    .contact-social-details ul li {
        margin-bottom: 24px;
        align-items: center;
        flex-direction: column;
    }
    .contact-social-icon {
        position: relative;
        margin-bottom: 15px;
    }
    .contact-social-details ul li span {
        padding-left: 0;
        text-align: center;
    }
    .form-row-box {
        flex-direction: column;
        width: 100%;
    }
    .form-row-box .form-main-group:first-child {
        margin-bottom: 24px;
    }
    .form-main-group {
        margin-right: 0;
    }
    .getintouch-form {
        padding: 96px 24px 96px 24px;
    }
}
@media(max-width: 920px){
    .contact-heading {
        padding: 13px 20px;
    }
}
@media(max-width: 768px){
    .getbox-form {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .getintouch-form {
        width: 100%;
        padding: 24px;
    }
    .getintouch-links {
        width: 100%;
    }
    .getintouch-box {
        padding: 24px;
    }
    .contact-heading {
        margin-left: 24px;
        font-size: 20px;
    }
    .contact-social-details {
        padding: 0 24px;
    }
    .contact-details-right {
        padding: 60px 0;
    }
    h1.gettouch-heading {
        font-size: 22px;
    }
}
@media(max-width: 460px){
    .getintouch-form button{
        width: 100%;
    }

    h1.gettouch-heading {
        font-size: 20px;
    }
}
