.project-list-cover {
  background-image: url(../../assets/images/tranding-cover.png);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10em 15em;
  text-align: center;
  border-top: 1px solid rgba(0, 152, 162, 0.3);
  position: relative;
}
.project-list-cover h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 160%;
  text-align: center;
  color: #101820;
  margin-bottom: 48px;
}
.project-list-cover p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #3e4348;
  margin-bottom: 0;
}
.project-list-cover .hiring-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
}
.projectlist-main-box {
  padding: 96px 200px;
}
.project-wrap {
  display: grid;
  margin-bottom: 96px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.project-wrap .project-box {
  box-shadow: 0px 0px 5px 0px rgb(153 153 153 / 75%);
  border-radius: 10px;
}

@media (max-width: 1600px) {
  .project-list-cover {
    padding: 80px 120px;
  }
  .projectlist-main-box {
    padding: 80px 120px;
  }
  .project-list-cover h1 {
    font-size: 40px;
    line-height: 136%;
  }
}
@media (max-width: 1440px) {
  .project-list-cover {
    padding: 90px;
  }
  .projectlist-main-box {
    padding: 90px;
  }
  .project-list-cover .hiring-buttons .button-box button {
    padding: 18px 40px;
  }
  .project-list-cover h1 {
    font-size: 34px;
  }
  .project-box img {
    height: 230px;
  }
}
@media (max-width: 1200px) {
  .project-list-cover {
    padding: 60px;
  }
  .projectlist-main-box {
    padding: 60px;
  }
  .project-list-cover .hiring-buttons {
    flex-wrap: wrap;
  }

  .project-list-cover .hiring-buttons .button-box button {
    width: 335px;
  }
}
@media (max-width: 1024px) {
  .project-list-cover {
    padding: 40px;
  }
  .projectlist-main-box {
    padding: 40px;
  }
  .project-list-cover h1 {
    font-size: 30px;
    margin-bottom: 28px;
  }
  .project-list-cover p {
    font-size: 18px;
  }
  .project-wrap {
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    flex-wrap: unset;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin-bottom: 45px;
    display: flex;
  }
  .project-wrap .project-box {
    width: 100%;
    min-width: 45%;
    box-shadow: 0px 0px 5px 0px rgb(153 153 153 / 75%);
    border-radius: 10px;
    border: 1px solid #dedede;
  }
}
@media (max-width: 768px) {
  .project-list-cover {
    padding: 24px;
  }
  .projectlist-main-box {
    padding: 24px;
  }
  .project-list-cover h1 {
    font-size: 28px;
  }
  .project-wrap .project-box {
    width: 100%;
    min-width: 55%;
  }
}
@media (max-width: 600px) {
  .project-wrap {
    gap: 10px;
  }
  .project-wrap .project-box {
    width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 460px) {
  .project-list-cover h1 {
    font-size: 26px;
  }
}
