a:hover {
  color: #005b58;
}
.contentWidth {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.st_work_content {
  font-weight: 400 !important;
}

.facebookshare a i {
  color: #3b5998 !important;
  font-size: 26px;
}

.twittershare a i {
  color: #1da1f2 !important;
  font-size: 28px;
}

.linkedinshare a i {
  color: #0077b5 !important;
  font-size: 28px;
}

.st_tech_content {
  background-color: #ffffff;
  display: flex;
  padding: 25px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.logo-box img {
  width: 230px;
  height: 48px;
  max-width: unset;
}

.header-box {
  z-index: 9;
}
.navbar-collapse-right {
  justify-content: flex-end;
}

.navbar-wrap-box-background a.button-hiring {
  background: #005b58;
  border-radius: 50px;
  padding: 12px 24px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: #ffffff !important;
}

.navbar-wrap-box-background ul {
  align-items: center;
}

.navbar-wrap-box-background ul li:not(:last-child) {
  margin-right: 32px;
}

.navbar-wrap-box-background ul li a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101820 !important;
  padding: 0 !important;
  text-decoration: none;
}
.navbar-wrap-box-background ul li a:hover {
  color: #005b58 !important;
}
.navbar-wrap-box-background ul li a.button-hiring:hover {
  color: #ffffff !important;
  background-color: rgb(0 0 0 / 78%);
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  top: calc(100% + 36px);
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
  padding: 8px 20px;
  position: relative;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #f6f6f6;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover a {
  color: #101820 !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #005b58;
  content: "";
}

.technology-box {
}

.technology-box .technology-image {
  position: relative;
  border: 5px solid #ffffff;
  border-radius: 5px;
  background-color: #fff;
}

.technology-box .technology-image img {
  width: 100%;
  height: 304px;
  object-fit: fill;
}

.technology-box .technology-image span {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #ffffff;
  background: rgba(62, 67, 72, 0.8);
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: calc(100% + 10px);
  z-index: 1;
  bottom: -5px;
  left: -5px;
}

.technology-box .technology-body p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  text-transform: capitalize;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  padding: 24px;
  color: #3e4348;
}

.term-policy label {
  padding-left: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101820;
}

.term-policy label a {
  font-weight: 500;
  color: #101820;
}

.term-policy {
  display: flex;
  margin-top: 12px;
}

.term-policy input {
  height: 20px;
  width: 20px;
}

.send-button .button-box {
  margin-top: 0;
}

.policy-link a {
  padding-right: 24px;
  color: #3e4348;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
}

.header-nav .navbar-wrap-box-background {
  background-color: #fff !important;
  justify-content: space-between;
  padding: 0.5rem 0 !important;
  height: 96px;
}

@media (max-width: 1700px) {
  .header-box {
    padding: 0 150px;
  }
}

@media (max-width: 1600px) {
  .contact-us-box .contact-left h1 {
    font-size: 40px;
    line-height: 136%;
  }

  .about-client h1 {
    font-size: 40px;
    line-height: 136%;
  }

  .navbar-wrap-box-background ul li {
    margin-right: 30px;
  }

  .header-box {
    padding: 0 120px;
  }

  .contact-us-box {
    padding: 150px 120px 150px 120px;
  }
}

@media (max-width: 1500px) {
  .header-box {
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  .cover-background {
    background-position: center;
    background-size: auto;
  }

  .about-client h1 {
    font-size: 34px;
  }

  .contact-us-box .contact-left h1 {
    font-size: 34px;
  }

  .navbar-wrap-box-background ul li {
    margin-right: 20px;
  }

  .header-box {
    padding: 0 80px;
  }

  .logo-box img {
    width: 213px;
    height: 35px;
    max-width: unset;
  }

  .company-images {
    text-align: right;
  }
}

@media (max-width: 1300px) {
  .navbar-wrap-box-background ul li {
    margin-right: 10px;
  }

  .work-slider {
    margin: 70px auto 0 auto;
  }

  .gallery-container {
    height: 480px !important;
  }
}

@media (max-width: 1220px) {
  .content h3 {
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .content h3 {
    color: #fff;
  }

  .content p {
    color: #fff;
  }
}

@media (max-width: 1200px) {
  .header-box {
    padding: 0 40px;
  }

  .navbar-wrap-box-background a.button-hiring {
    padding: 8px 10px !important;
    font-size: 14px;
  }

  .logo-box img {
    width: 165px;
    height: 35px;
    max-width: unset;
  }

  .navbar-wrap-box-background ul li {
    margin-right: 7px;
  }

  .navbar-wrap-box-background ul li a {
    padding: 0 5px !important;
  }

  .contact-us-box {
    padding: 80px 40px 80px 40px;
  }
}

@media (max-width: 1024px) {
  .contact-us-box .contact-left h1 {
    font-size: 30px;
  }

  .navbar-wrap-box-background ul li a {
    font-size: 14px;
  }

  .contact-us-box {
    flex-wrap: wrap;
  }

  .contact-us-box .contact-left {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .contact-us-box .contact-right {
    width: 100%;
  }

  .company-approach-card .company-approach-box .approach-subheading {
    height: unset;
  }

  .about-client h1 {
    width: 100%;
    margin-bottom: 40px;
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .header-nav .navbar-wrap-box-background {
    height: auto;
  }

  .navbar-wrap-box-background ul {
    align-items: flex-start;
    margin-top: 15px;
  }

  .navbar-wrap-box-background ul li {
    margin-right: 7px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .partner-slider Button.slick-arrow.slick-prev {
    top: 45% !important;
  }

  .partner-slider Button.slick-arrow.slick-next {
    top: 45% !important;
  }

  .cover-background {
    background-position: center;
    background-size: auto;
  }

  .term-policy label {
    font-size: 14px;
  }

  .company-approach-card .company-approach-box .approach-subheading {
    font-size: 14px;
  }

  .content p {
    font-size: 14px;
  }

  .technology-box .technology-body p {
    font-size: 14px;
  }

  .content h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .company-approach-card .company-approach-box .approach-heading {
    font-size: 20px;
    line-height: 26px;
  }

  .technology-box .technology-image span {
    font-size: 20px;
  }

  .header-box {
    padding: 5px 24px;
  }

  .technology-box {
    width: 100%;
  }

  .contact-us-box .contact-form {
    padding: 24px;
  }

  .work-slider {
    margin-top: 40px;
  }

  .contact-us-box .contact-right {
    padding: 10px;
  }

  .contact-us-box .contact-left h1 {
    font-size: 28px;
  }

  .contact-us-box p.contact-Subheading {
    font-size: 20px;
    line-height: 26px;
  }

  .cover-heading-text h1::before {
    height: 110px;
    background-size: contain;
    margin-left: 0;
  }

  .cover-heading-text h1::after {
    height: 110px;
    background-size: contain;
    margin-right: 0;
  }

  .cover-background .cover-sub-text {
    margin-top: 40px;
    font-size: 14px;
  }

  .cover-stack-heading .cover-stack {
    font-size: 20px;
  }

  .cover-logo-box {
    text-align: center;
    padding-top: 0;
  }

  .logo-box img {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .about-client h1 {
    font-size: 28px;
  }

  .view-work {
    margin-top: 50px;
  }

  .contact-us-box {
    padding: 40px 24px 40px 24px;
  }

  .partner-slider .slick-list {
    margin: 0 -15px;
  }

  .partner-slider .slick-slide {
    margin: 0 5px;
  }
}

@media (max-width: 460px) {
  .send-button button {
    width: 100%;
  }

  .partner-slider .slick-slide {
    margin: 0;
  }

  .contact-us-box p.contact-Subheading {
    font-size: 18px;
  }

  .content h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .company-approach-card .company-approach-box .approach-heading {
    font-size: 18px;
  }

  .technology-box .technology-image span {
    font-size: 18px;
  }

  .logo-box img {
    width: 164px;
  }

  .contact-us-box .contact-left h1 {
    font-size: 26px;
  }

  .about-client h1 {
    font-size: 26px;
  }

  .cover-heading-text h1::before {
    top: -10px;
  }

  .cover-heading-text h1::after {
    top: -10px;
  }

  .cover-stack-heading .cover-stack {
    font-size: 18px;
  }

  .booking-button button {
    padding: 10px 20px !important;
  }
}
