@import "../styles/customMediaQueries.scss";
@import "../styles/variables.scss";
.cover-background {
  background-image: url("../assets/images/tranding-cover.png");
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  border-top: 1px solid rgba(0, 152, 162, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  @include md {
    padding: 50px 0;
  }
  .contentWidth {
    max-width: 100%;
    @include xl {
      max-width: 60%;
    }
  }
  h1 {
    color: $black-color;
    font-weight: 600;
    margin: 0 0 10px 0;
    font-size: 28px;
    line-height: 130%;
    @include sm {
      font-size: 30px;
      line-height: 135%;
    }
    @include md {
      font-size: 34px;
      line-height: 140%;
    }
    @include lg {
      font-size: 38px;
      line-height: 145%;
    }
  }
  p {
    color: $text-color;
    font-size: 18px;
    line-height: 150%;
    @include sm {
      font-size: 20px;
    }
  }
  .selectCategory {
    margin-top: 20px;
    h4 {
      font-size: 24px;
      color: $black-color;
      line-height: 130%;
      font-weight: 500;
      margin: 0 0 10px 0;
    }
    .hiring-buttons {
      display: flex;
      gap: 14px;
      margin-top: 48px;
      overflow-x: auto;
      padding-bottom: 10px;
      @media (min-width: 805px) {
        justify-content: center;
        padding-bottom: 0;
      }
      @include lg {
        gap: 24px;
      }

      .button-box {
        margin-top: 0;
        .hire-dev-button {
          background-color: $white-color;
          color: $base-color;
          transition: $transiton;
          padding: 10px 24px;
          font-size: 16px;
          white-space: nowrap;
          @include md {
            padding: 10px 30px;
            font-size: 16px;
          }
          @include lg {
            padding: 14px 38px;
            font-size: 18px;
          }
          &:hover,
          &:focus,
          &:active,
          &.active {
            background-color: $base-color;
            color: $white-color;
            transition: $transiton;
          }
        }
      }
    }
  }
}

.projectlist-main-box {
  padding: 50px 0;
  @include lg {
    padding: 80px 0;
  }
  .project-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg {
      grid-gap: 30px;
    }
    @include xl {
      grid-gap: 40px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include xxl {
      grid-gap: 64px;
    }
    .project-box {
      box-shadow: 0px 0px 15px 0px #005b584d;
      border-radius: 10px;
    }
  }
}
.estimate-section-wrap {
  padding: 50px 0;
  @include lg {
    padding: 80px 0;
  }
  .estimate-contact {
    background: linear-gradient(
      269.91deg,
      #57f8f3 -22.82%,
      rgba(0, 91, 88, 0.92958) 25.29%,
      rgba(0, 91, 88, 0.8) 83.49%,
      rgba(61, 201, 196, 0.939583) 107.5%
    );
    border-radius: 10px;
    text-align: center;
    padding: 48px 10px;

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 42px;
      text-align: center;
      color: $white-color;
      margin-bottom: 30px;
    }
    a {
      display: inline-block;
      width: 100%;
      .button-box {
        margin-top: 0;
        .estimate-submit {
          color: $base-color;
          font-weight: 500;
          background-color: $white-color;
          border: 1px solid $white-color;
        }
      }
    }
  }
}
