@import "../styles/customMediaQueries.scss";
@import "../styles/variables.scss";
.seoPlanSec {
  background-color: $light-bg;
  padding: 24px;
  @include lg {
    padding: 50px 24px;
  }

  & .contentWidth {
    background-color: $white-color;
    padding: 30px;
    border-radius: 10px;
    box-shadow: $box-shadow;
    h1 {
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      color: $base-color;
      margin: 0 0 30px 0;
      @include lg {
        font-size: 30px;
      }
    }
    .secoTable {
      overflow-x: auto;
      width: 100%;

      table {
        border-collapse: collapse;
        width: 100%;
        border: solid 1px $border-color;
        min-width: 1000px;
        thead {
          tr {
            th {
              text-align: left;
              padding: 10px;
              color: $white-color;
              font-size: 14px;
              font-weight: 500;
              background-color: $base-color;
              @include lg {
                padding: 20px;
                font-size: 16px;
                font-weight: 600;
              }
              .getQuoteBtnSec {
                .getQuoteBtn {
                  background-color: $white-color;
                  border: solid 1px $white-color;
                  color: $base-color;
                  text-decoration: none;
                  font-size: 16px;
                  font-weight: 500;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  padding: 6px 20px;
                  line-height: 100%;
                  border-radius: 40px;
                  margin: 10px auto 0;
                  transition: $transition;
                  cursor: pointer;

                  &:hover,
                  &:focus {
                    transition: $transition;
                    background-color: $base-color;
                    border: solid 1px $white-color;
                    color: $white-color;
                    outline: none;
                    .rippleEffect {
                      border-color: $white-color;
                      animation: rippleWhite 2s infinite;
                    }
                  }
                  .rippleEffect {
                    border-color: $base-color;
                    animation: rippleGreen 2s infinite;
                  }
                }
              }
            }
          }
        }
        tbody {
          tr {
            &:not(:last-child) {
              border-bottom: solid 1px $border-color;
            }
            td {
              text-align: left;
              padding: 10px;
              color: $black-color;
              font-size: 14px;
              @include lg {
                padding: 20px;
              }
              & > strong {
                font-weight: 600;
              }
              &.sectionHeading {
                background-color: $light-bg;
                padding: 10px 20px;
                h2 {
                  font-size: 16px;
                  font-weight: 600;
                  text-align: center;
                  color: $black-color;
                  @include lg {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .getQuoteSec {
      text-align: center;
      margin: 48px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      & > button {
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        &:hover,
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.getQuoteModal {
  overflow-y: auto;
  .modal-dialog {
    max-width: 90%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    margin: 24px auto;
    border-radius: 0;

    @include lg {
      margin: 40px auto;
      max-width: 80%;
    }
    @include xxxl {
      max-width: 60%;
    }
    .modal-content {
      position: relative;
      margin-bottom: 24px;
      @include lg {
        margin-bottom: 40px;
      }
      .modal-header {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        z-index: 1;
        .btn-close {
          filter: none;
          background-color: $white-color;
          width: 40px;
          height: 40px;
          border-radius: 100px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-size: 15px;
        }
      }
      .modal-body {
        display: flex;
        padding: 0;
        flex-direction: column;
        @include lg {
          flex-direction: row;
        }
        .quoteLeftSec {
          width: 100%;
          padding: 30px;
          order: 2;
          @include lg {
            width: 50%;
            order: 1;
          }
          h3 {
            font-size: 24px;
            color: $base-color;
            text-transform: uppercase;
            font-weight: 600;
            padding-top: 24px;
            margin-top: 0;
            margin-bottom: 2px;
            @include lg {
              padding-top: 30px;
              font-size: 30px;
            }
          }
          p {
            font-weight: normal;
            color: $text-color;
          }
          h2 {
            color: #ff7800;
            font-size: 32px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 0;
            @include lg {
              font-size: 42px;
            }
          }
          h1 {
            a {
              color: $base-color;
              font-size: 28px;
              font-weight: 600;
              text-decoration: none;
              text-decoration: none;
              @include lg {
                font-size: 39px;
              }
            }
          }
          ul {
            font-size: 20px;
            padding: 0;
            position: relative;
            margin: 10px 0;

            li {
              list-style: none;
              font-weight: 500;
              padding: 0;
              color: $base-color;
              position: relative;
              display: inline-flex;
              width: 100%;
              align-items: center;
              & > svg {
                width: 20px;
                margin-right: 10px;
              }
            }
          }
          .accreditedSec {
            margin-top: 40px;
            h2 {
              color: $base-color;
              font-size: 18px;
              font-weight: 600;
              @include lg {
                font-size: 23px;
              }
            }
            .partner_list {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-wrap: wrap;
              margin: 0;
              li {
                width: auto;
                font-size: 16px;
                &:not(:last-child) {
                  margin-right: 20px;
                }
                &:last-child {
                  & > img {
                    width: 70px;
                  }
                }
                img {
                  max-width: 100%;
                  width: 90px;
                }
              }
            }
          }
        }
        .quoteRightSec {
          width: 100%;
          padding: 30px;
          background-color: $base-color;
          color: $white-color;
          order: 1;
          @include lg {
            width: 50%;
            order: 2;
          }
          .contact-right {
            .formHeader {
              text-align: center;
              color: $white-color;
              margin-bottom: 30px;
              h1 {
                color: $white-color;
                font-size: 30px;
                line-height: 130%;
                font-weight: 600;
                margin: 0 0 5px 0;
              }
              p {
                color: $white-color;
                font-size: 16px;
                line-height: 140%;
                font-weight: 400;
              }
            }
            .contact-form {
              .input-wrap {
                display: flex;
                margin-bottom: 0;
                &:last-child {
                  .form-box {
                    margin-bottom: 0px;
                  }
                }

                .form-box {
                  width: 100%;
                  margin-bottom: 16px;
                  & > label {
                    color: $white-color;
                    font-size: 14px;
                    margin-bottom: 5px;
                    padding: 0;
                  }
                  input,
                  select {
                    width: 100%;
                    padding: 0 14px;
                    height: 50px;
                    border-radius: 10px;
                    background-position: center right 14px;
                    font-size: 15px;
                    color: $black-color;
                    &:hover,
                    &:focus {
                      outline: none;
                    }
                  }
                  textarea {
                    padding: 14px;
                    font-size: 15px;
                    color: $black-color;
                    font-family: $font-family;
                    &:hover,
                    &:focus {
                      outline: none;
                    }
                  }
                  .input-icon {
                    display: none;
                  }
                  .react-tel-input {
                    & > input {
                      padding-left: 50px;
                      border-radius: 10px;
                    }
                    .flag-dropdown {
                      border-top-left-radius: 10px;
                      border-bottom-left-radius: 10px;
                      .selected-flag {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                      }
                    }
                  }
                }
                &.halfWidth {
                  justify-content: space-between;
                  flex-direction: column;
                  @include md {
                    flex-direction: row;
                  }
                  .form-box {
                    width: 100%;
                    @include md {
                      width: calc(100% / 2 - 8px);
                    }

                    &:nth-col(:last-child) {
                      @include md {
                        margin-right: 16px;
                      }
                    }
                  }
                }
              }
            }
            .send-button {
              margin-bottom: 24px;
              .button-box {
                margin-top: 24px;
                & > button {
                  width: 100%;
                  background-color: $white-color;
                  color: $base-color;
                  border: solid 1px $white-color;
                  transition: $transition;
                  &:hover,
                  &:focus {
                    transition: $transition;
                    background-color: $base-color;
                    border: solid 1px $white-color;
                    color: $white-color;
                    outline: none;
                    .rippleEffect {
                      border-color: $white-color;
                      animation: rippleWhite 2s infinite;
                    }
                  }
                  .rippleEffect {
                    border-color: $base-color;
                    animation: rippleGreen 2s infinite;
                  }
                }
              }
            }
            .alternativeContact {
              color: $white-color;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
