@import "../styles/customMediaQueries.scss";
@import "../styles/variables.scss";
.service-hero-section {
  position: relative;
  overflow: hidden;
  &::after {
    background-image: url("../assets/images/linedin-lite-post-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
  &::before {
    content: "";
    background-color: $base-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
  }
  .contentWidth {
    padding: 50px 24px;
    display: flex;
    position: relative;
    z-index: 1;
    @include lg {
      padding: 80px 24px;
    }
    .service-hero-content {
      width: 100%;
      text-align: center;
      color: $white-color;
      h1 {
        font-weight: 500;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 130%;
        @include sm {
          font-size: 28px;
          line-height: 135%;
        }
        @include md {
          font-size: 30px;
          line-height: 140%;
        }
        @include lg {
          font-size: 38px;
          line-height: 145%;
        }
      }
      p {
        font-size: 16px;
        line-height: 170%;
        font-weight: 300;
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        @include md {
          max-width: 80%;
        }
        @include lg {
          font-size: 18px;
          max-width: 70%;
        }
      }
    }
  }
}
.service-header {
  display: flex;
  .contentWidth {
    padding: 50px 24px;
    display: flex;
    @include lg {
      padding: 80px 24px;
    }
    .service-header-content {
      width: 50%;
      text-align: left;
      padding-right: 48px;
      h1 {
        font-weight: 600;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 130%;
        @include sm {
          font-size: 28px;
          line-height: 135%;
        }
        @include md {
          font-size: 30px;
          line-height: 140%;
        }
      }
      p {
        font-size: 16px;
        line-height: 170%;
        font-weight: 300;
        @include lg {
          font-size: 18px;
        }
      }
    }
    .service-header-image {
      width: 50%;
      & > img {
        max-width: 100%;
      }
    }
  }
}
.why-we-hire {
  background: rgba(87, 248, 243, 0.1);
  .contentWidth {
    padding: 50px 24px;
    @include lg {
      padding: 80px 24px;
    }
    .our-tech-team {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}
.project-list-cover {
  background-image: url("../assets/images/tranding-cover.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10em 15em;
  text-align: center;
  border-top: 1px solid rgba(0, 152, 162, 0.3);
  position: relative;
}
.project-list-cover h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 160%;
  text-align: center;
  color: #101820;
  margin-bottom: 48px;
}
.project-list-cover p {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #3e4348;
  margin-bottom: 0;
}
.project-list-cover .hiring-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 48px;
}
.deliver-service {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
}

@media (max-width: 1600px) {
  .project-list-cover {
    padding: 80px 120px;
  }
  .projectlist-main-box {
    padding: 80px 120px;
  }
  .project-list-cover h1 {
    font-size: 40px;
    line-height: 136%;
  }
}
@media (max-width: 1440px) {
  .project-list-cover {
    padding: 90px;
  }
  .projectlist-main-box {
    padding: 90px;
  }
  .project-list-cover .hiring-buttons .button-box button {
    padding: 18px 40px;
  }
  .project-list-cover h1 {
    font-size: 34px;
  }
  .project-box img {
    height: 230px;
  }
}
@media (max-width: 1200px) {
  .project-list-cover {
    padding: 60px;
  }
  .projectlist-main-box {
    padding: 60px;
  }
  .project-list-cover .hiring-buttons {
    flex-wrap: wrap;
  }

  .project-list-cover .hiring-buttons .button-box button {
    width: 335px;
  }
}
@media (max-width: 1024px) {
  .project-list-cover {
    padding: 40px;
  }
  .projectlist-main-box {
    padding: 40px;
  }
  .project-list-cover h1 {
    font-size: 30px;
    margin-bottom: 28px;
  }
  .project-list-cover p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .project-list-cover {
    padding: 24px;
  }
  .projectlist-main-box {
    padding: 24px;
  }
  .project-list-cover h1 {
    font-size: 28px;
  }
}

@media (max-width: 460px) {
  .project-list-cover h1 {
    font-size: 26px;
  }
}
.project-list-cover {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  & .col-md-7 {
    width: 60%;
  }
  & .deliver-image-mobile {
    & img {
      width: 600px;
    }
  }
}
