@import "../styles/customMediaQueries.scss";
@import "../styles/variables.scss";
.service-hero-section {
  position: relative;
  overflow: hidden;
  &::after {
    background-image: url("../assets/images/linedin-lite-post-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
  &::before {
    content: "";
    background-color: $base-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
  }
  .contentWidth {
    padding: 40px 24px;
    display: flex;
    position: relative;
    z-index: 1;
    @include lg {
      padding: 60px 24px;
    }
    .service-hero-content {
      width: 100%;
      text-align: center;
      color: $white-color;
      h1 {
        font-weight: 500;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 130%;
        color: $white-color;
        @include sm {
          font-size: 28px;
          line-height: 135%;
        }
        @include md {
          font-size: 30px;
          line-height: 140%;
        }
        @include lg {
          font-size: 38px;
          line-height: 145%;
        }
      }
      p {
        font-size: 14px;
        line-height: 170%;
        font-weight: 300;
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        color: $white-color;
        @include md {
          max-width: 80%;
        }
        @include lg {
          font-size: 16px;
          max-width: 70%;
        }
      }
      a {
        button {
          background-color: $white-color;
          color: $base-color;
          &:hover {
            background-color: $base-color;
            color: $white-color;
          }
        }
      }
    }
  }
}
.service-header {
  display: flex;
  position: relative;
  .particles {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(10px);
  }
  .contentWidth {
    padding: 40px 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @include lg {
      padding: 60px 24px;
      flex-direction: row;
    }
    .service-header-content {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
      // background-color: rgba(255, 255, 255, 0.5);
      @include lg {
        width: 50%;
        text-align: left;
        padding-right: 48px;
        margin: 0;
      }
      h1 {
        font-weight: 600;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 130%;
        @include sm {
          font-size: 28px;
          line-height: 135%;
        }
        @include md {
          font-size: 30px;
          line-height: 140%;
        }
      }
      p {
        font-size: 14px;
        line-height: 170%;
        font-weight: 300;
        text-align: justify;
        @include lg {
          font-size: 16px;
        }
      }
    }
    .service-header-image {
      width: 100%;
      border-radius: 10px;
      border: solid 10px $border-color;
      background-color: $white-color;
      position: relative;
      // overflow: hidden;
      // box-shadow: 0px 1px 40px 15px rgba(0, 91, 88, 0.077);
      display: flex;
      align-items: stretch;
      margin: 0 auto;
      position: relative;
      @include md {
        width: 50%;
      }
      &::before {
        content: "";
        background-color: $base-color;
        width: 60%;
        height: 80%;
        bottom: -10px;
        left: -10px;
        display: inline-block;
        position: absolute;
        z-index: 0;
        border-radius: 10px;
      }
      &::after {
        content: "";
        background-color: $base-color;
        width: 60%;
        height: 80%;
        top: -10px;
        right: -10px;
        display: inline-block;
        position: absolute;
        z-index: 0;
        border-radius: 10px;
      }
      & .imgSec {
        background-color: $white-color;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        & > img {
          max-width: 80%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
          margin: 0 auto;
          z-index: 1;
        }
      }
    }
  }
}
.why-we-hire {
  background: $base-color;
  .contentWidth {
    padding: 40px 24px;
    @include lg {
      padding: 60px 24px;
    }
    .our-tech-team {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 80px;
      h1 {
        font-weight: 600;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 130%;
        color: $white-color;
        @include sm {
          font-size: 28px;
          line-height: 135%;
        }
        @include md {
          font-size: 30px;
          line-height: 140%;
        }
      }
      p {
        font-size: 14px;
        line-height: 170%;
        font-weight: 300;
        max-width: 100%;
        color: $white-color;
        @include lg {
          font-size: 16px;
          max-width: 80%;
        }
      }
    }
    .join-expertise {
      .join-our-team {
        & > span {
          border: solid 2px $white-color;
        }
      }
    }
  }
}
.join-expertise {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  scroll-snap-type: x mandatory;
  @include md {
    display: grid;
    flex-wrap: wrap;
    grid-column-gap: 24px;
    grid-row-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: visible;
  }
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
  @include xl {
    grid-template-columns: repeat(3, 1fr);
  }
  .join-our-team {
    width: 100%;
    min-width: calc(100% / 1);
    margin-right: 24px;
    scroll-snap-align: start;
    @include md {
      margin-right: 0px;
      min-width: auto;
      width: 100%;
    }
  }
}
.tools-and-technologies-section {
  border-bottom: solid 1px $border-color;
}
.tools-and-technologies {
  &.contentWidth {
    padding: 40px 24px;
    @include lg {
      padding: 60px 24px;
    }
    .our-tech-team {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 80px;
      h1 {
        font-weight: 600;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 130%;
        @include sm {
          font-size: 28px;
          line-height: 135%;
        }
        @include md {
          font-size: 30px;
          line-height: 140%;
        }
      }
      p {
        font-size: 16px;
        line-height: 170%;
        font-weight: 300;
        max-width: 100%;
        @include lg {
          font-size: 16px;
          max-width: 80%;
        }
      }
    }
    .technologies-block {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include lg {
        flex-direction: row;
      }
      .technologies-img {
        align-self: flex-start;
        position: sticky;
        top: 120px;
        display: none;
        width: 40%;
        @include lg {
          display: block;
          text-align: center;
        }
        & > img {
          max-width: 100%;
        }
      }
      .technologies-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-gap: 24px;
        @include sm {
          text-align: center;
          grid-template-columns: repeat(2, 1fr);
        }
        @include lg {
          width: 60%;
          padding-left: 24px;
        }
        & .technologies {
          border: solid 1px $border-color;
          background-color: $white-color;
          padding: 24px;
          border-radius: 10px;
          text-align: left;
          transition: $transiton;
          &:hover {
            box-shadow: $box-shadow-large;
            transition: $transiton;
          }
          h3 {
            font-weight: 600;
            margin: 0 0 10px 0;
            font-size: 18px;
            line-height: 120%;
            @include sm {
              line-height: 125%;
            }
          }
          p {
            font-size: 15px;
            line-height: 170%;
            font-weight: 300;
            text-align: justify;
            @include lg {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
.why-choose-us {
  &.contentWidth {
    padding: 40px 24px;
    @include lg {
      padding: 60px 24px;
    }
    .our-tech-team {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-bottom: 80px;
      @include xl {
        margin-bottom: 80px;
      }
      h1 {
        font-weight: 600;
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 130%;
        @include sm {
          font-size: 28px;
          line-height: 135%;
        }
        @include md {
          font-size: 30px;
          line-height: 140%;
        }
      }
      p {
        font-size: 14px;
        line-height: 170%;
        font-weight: 300;
        max-width: 100%;
        @include lg {
          font-size: 16px;
          max-width: 80%;
        }
      }
    }
    .advantage-section {
      position: relative;
      .app-benefits-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 70px;
        align-items: center;
        justify-content: center;
        display: none;
        @include xl {
          display: flex;
        }
        & > img {
          max-width: 100%;
          width: 90%;
          margin: 0 auto;
          -webkit-animation: mover 1s infinite alternate;
          animation: mover 1s infinite alternate;
        }
      }
      .advantage-block {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 48px;
        grid-row-gap: 48px;
        @include lg {
          grid-template-columns: repeat(2, 1fr);
          grid-row-gap: 80px;
        }
        @include xl {
          grid-template-columns: repeat(3, 1fr);
        }
        .company-approach-box {
          padding: 20px;
          border-radius: 10px;
          background-color: $white-color;
          transition: $transiton;
          border: solid 1px $border-color;
          &:hover {
            transition: $transiton;
            box-shadow: $box-shadow-large;
          }
          // &:nth-child(1n) {
          //   @include xl {
          //     text-align: right;
          //     grid-column-start: 1;
          //     grid-column-end: 3;
          //   }
          //   & > a {
          //     @include xl {
          //       flex-direction: row-reverse;
          //     }
          //     .apporoach-description {
          //       padding-right: 20px;
          //     }
          //   }
          // }
          // &:nth-child(2n) {
          //   @include xl {
          //     text-align: left;
          //     grid-column-start: 5;
          //     grid-column-end: 7;
          //   }
          //   & > a {
          //     flex-direction: initial;
          //     .approach-logo {
          //       text-align: right;
          //     }
          //     .apporoach-description {
          //       padding-left: 20px;
          //       padding-right: 0px;
          //     }
          //   }
          // }
          & > a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: $black-color;
            .approach-logo {
              width: 80px;
              height: 80px;
              border-radius: 100px;
              overflow: hidden;
              border: solid 3px $base-color;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 20px;
              background-color: $white-color;
              margin-top: -50px;

              @include lg {
                margin-top: -70px;
                width: 100px;
                height: 100px;
              }
              & > img {
                max-width: 100%;
                object-fit: contain;
              }
            }
            .apporoach-description {
              width: 100%;
              margin-top: 20px;

              .approach-heading {
                font-weight: 600;
                margin: 0 0 10px 0;
                font-size: 16px;
                line-height: 120%;
                color: $black-color;
                @include sm {
                  font-size: 18px;
                  line-height: 125%;
                }
              }
              .approach-subheading {
                font-size: 14px;
                line-height: 170%;
                font-weight: 400;
                color: $black-color;
                text-align: justify;
                @include lg {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.faq-section {
  & .contentWidth {
    padding-bottom: 50px;
    @include lg {
      padding-bottom: 80px;
    }
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.getActionBtn {
  margin-top: 30px;
  & > button {
    font-size: 14px;
    line-height: 130%;
    padding: 12px 14px;
    border: solid 1px $base-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include md {
      padding: 12px 24px;
      font-size: 16px;
    }
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 14px;
    }
    &.freeConsult {
      background-color: $white-color;
      color: $base-color;
      border: solid 1px $base-color;
      &:hover {
        background-color: $base-color;
        color: $white-color;
        .rippleEffect {
          border-color: $white-color;
          animation: rippleWhite 2s infinite;
        }
      }
      .rippleEffect {
        border-color: $base-color;
        animation: rippleGreen 2s infinite;
      }
    }
  }
}
