@import "../styles/variables.scss";
@import "../styles/customMediaQueries.scss";
@import "../components/Header/Header.scss";
@import "../components/Footer/footer.scss";
@import "../exploreanalyze/exploreAnalyxe.scss";
@import "../components/blogcover/blogcover.scss";
@import "../components/Cards/articlecard/articlecard.scss";
@import "../components/Cards/allarticlecard/allarticlecard.scss";
@import "./contact.scss";
@import "./ourApproch.scss";
@import "./blog.scss";
@import "./about.scss";
@import "./landing.scss";
