.article-list-wrap .all-article-heading h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #3E4348;
    margin-bottom: 0;
}
.all-article-cover-image img {
    border-radius: 5px;
    width: 100%;
    height: 260px;
    object-fit: contain;
}
.all-article-cover-image{
    width: 100%;
    /* border: 1px solid #eee; */
}
.all-article-card-data h5.all-article-card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #005B58;
    margin-bottom: 0;
}
.all-article-card-data {
    margin-top: 24px;
}

.all-article-card-description a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #101820;
}
.all-article-card-detail-box {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 12px;
}
.all-article-profile-list {
    margin-top: 14px;
    display: flex;
}
.all-article-profile-list img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    object-fit: cover;
}
.article-card-list-most .all-article-card-box .all-article-cover-image {
    height: 260px;
}

.article-card-list-most .all-article-card-box .all-article-cover-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border: 1px solid #ededed; */
}

.all-article-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #101820;
}
.all-article-name span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #3E4348;
}
.all-article-post-date {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #101820;
    margin-top: 4px;
}
.all-article-profile-wrap {
    padding-left: 12px;
}
.all-article-description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3E4348;
    margin-top: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media(max-width: 1200px){
    .all-article-card-description {
        font-size: 20px;
    }
    .all-article-description {
        font-size: 14px;
    }
}
@media(max-width: 920px){
    .all-article-card-description{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}