.approach-cover-main{
    background-image: url(../../assets/images/tranding-cover.png);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10em 15em;
    text-align: center;
    border-top: 1px solid rgba(0, 152, 162, 0.3);
    position: relative;
}
.approach-cover-main h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 160%;
    text-align: center;
    color: #101820;
    margin-bottom: 24px;
}

.approach-cover-main p {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #3E4348;
    margin-bottom: 0;
}
.approach-cover-main .hiring-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 96px;
}
.deliver-qualitywork {
    padding: 160px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.deliver-qualitywork .deliver-description {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #3E4348;
    width: 50%;
}
.deliver-qualitywork .deliver-description span {
    color: #101820;
}
.deliver-qualitywork .deliver-image-section {
    width: 50%;
    text-align: right;
}
.explore-box-wrap {
    background: rgba(87, 248, 243, 0.1);
    padding: 98px 200px;
    margin-bottom: 160px;
}
.explore-box-wrap button.active {
    background: #FFFFFF;
    border-radius: 10px;
    color: #101820 !important;
    padding: 12px;
}

.explore-box-wrap button {
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
}
.card-background-wrap button.slick-arrow {
    color: #ff000000;
}
.card-background-wrap button.slick-arrow.slick-prev {
    content: "";
    position: absolute;
    background-image: url(../../assets/images/tabpreviousbtn.png); 
    height: 65px;
    width: 65px;
    left: -6px;
    background-size: 100%;
    z-index: 99;
}
.card-background-wrap button.slick-arrow.slick-prev::before{
    display: none;
}
.card-background-wrap button.slick-arrow.slick-prev:hover {
    content: "";
    position: absolute;
    background-image: url(../../assets/images/tabpreviousbtn.png) !important; 
    height: 65px !important;
    width: 65px;
    left: -6px;
    background-size: 100% !important;
    z-index: 99;
}
.card-background-wrap button.slick-arrow.slick-prev:focus {
    content: "";
    position: absolute;
    background-image: url(../../assets/images/tabpreviousbtn.png) !important; 
    height: 65px !important;
    width: 65px;
    left: -6px;
    background-size: 100% !important;
    z-index: 99;
}
.card-background-wrap button.slick-arrow.slick-next {
    content: "";
    position: absolute;
    background-image: url(../../assets/images/tabnextbtn.png); 
    height: 65px;
    width: 65px;
    right: -7px;
    background-size: 100%;
}
.card-background-wrap button.slick-arrow.slick-next:hover {
    background-image: url(../../assets/images/tabnextbtn.png) !important; 
    height: 65px !important;
    width: 65px;
    right: -7px;
    background-size: 100% !important;
    content: "";
    position: absolute;
}
.card-background-wrap button.slick-arrow.slick-next:focus {
    background-image: url(../../assets/images/tabnextbtn.png) !important; 
    height: 65px !important;
    width: 65px;
    right: -7px;
    background-size: 100% !important;
    content: "";
    position: absolute;
}
.card-background-wrap button.slick-arrow.slick-next::before {
    display: none;
}
.card-background-wrap .slick-track .slick-slide:nth-child(odd) .outer-trading-box .explore-data-tab {
    flex-direction: row-reverse;
}
.explore-box-wrap .tabbutton {
    background: #005B58;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
    gap: 36px;
    margin: 0 10px 48px 10px;
}
.explore-tab-viewbox .card-background-wrap {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 2px rgba(0, 91, 88, 0.3);
    border-radius: 10px;
    position: relative;
}
.analyze-card .AnalyzeListCard-card {
    margin: 0 12px 12px 0 ; 
}
@media(max-width: 1650px){
    .approach-cover-main {
        padding: 80px 120px;
    }
    .approach-cover-main h1{
        font-size: 40px;
        line-height: 136%;
    }
    .deliver-qualitywork{
        padding: 80px 120px;
        gap: 40px;
    }
    .explore-box-wrap {
        padding: 90px 120px;
    }
    .explore-box-wrap .tabbutton {
        margin: 0 0 48px 0;
        padding: 44px;
    }
}
@media(max-width: 1500px){
    .explore-box-wrap .tabbutton {
        padding: 33px;
    }
    .explore-box-wrap button {
        font-size: 20px;
    }
}
@media(max-width: 1440px){
    .approach-cover-main {
        padding: 90px;
    }
    
    .approach-cover-main h1{
        font-size: 34px;
    }

    .deliver-qualitywork{
        padding: 90px;
    }
    .explore-box-wrap {
        padding: 90px;
    }
    .explore-box-wrap .tabbutton button {
        font-size: 20px;
        width: 27%;
        min-width: 27%;
    }
    .explore-box-wrap .tabbutton {
        gap: 0;
        padding: 35px 25px;
        justify-content: flex-start;
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        flex-wrap: unset;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    .explore-box-wrap {
        margin-bottom: 100px;
    }
    .explore-data-left .analyze-card {
        display: none !important;
    }
}
@media(max-width: 1320px){
    .tabbutton{
        justify-content: flex-start !important;
        flex-direction: row;
        overflow-x: auto;
        width: 100%;
        flex-wrap: unset;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
}
@media(max-width: 1200px){
    .approach-cover-main {
        padding: 60px;
    }
    .deliver-qualitywork{
        padding: 60px;
    }
    .deliver-qualitywork .deliver-description{
        width: 65%;
    }
    .deliver-qualitywork .deliver-image-section{
        width: 35%;
    }
    .explore-box-wrap {
        padding: 60px;
    }
}
@media(max-width: 1024px){
    .approach-cover-main {
        padding: 40px;
    }
    .approach-cover-main h1{
        font-size: 30px;
    }
    .approach-cover-main p {
        font-size: 18px;
    }
    .approach-cover-main .hiring-buttons {
        margin-top: 48px;
        flex-wrap: wrap;
    }
    .deliver-qualitywork .deliver-description {
        font-size: 22px;
    }
    .deliver-qualitywork{
        padding: 40px;
    }
    .explore-box-wrap {
        padding: 40px;
    }
    .explore-box-wrap .tabbutton button {
        font-size: 18px;
        width: 30%;
        min-width: 30%;
    }
    .explore-data-tab{
        flex-wrap: wrap;
    }
    .explore-data-left {
        width: 100% !important;
    }
    .explore-data-right {
        width: 100% !important;
    }

    .explore-box-wrap {
        margin-bottom: 40px;
    }
    .explore-data-right {
        display: none !important;
    }
    .explore-data-left h3 {
        margin-top: 0 !important;
    }
    .data-left-inner {
        padding: 48px !important;
    }
}
@media(max-width: 920px){
    .explore-box-wrap .tabbutton {
        padding: 35px 15px;
    }
    .explore-box-wrap button.active {
        padding: 10px;
    }
}
@media(max-width: 768px){
    .approach-cover-main {
        padding: 24px;
    }
    .explore-box-wrap .tabbutton button {
        width: 30%;
        min-width: 30%;
    }
    .approach-cover-main h1{
        font-size: 28px;
    }

    .deliver-qualitywork{
        padding: 24px;
        flex-wrap: wrap;
    }
    .deliver-qualitywork .deliver-description {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
    }
    .deliver-qualitywork .deliver-image-section {
        width: 60%;
    }
    .explore-box-wrap {
        padding: 24px;
    }
    .explore-box-wrap button {
        font-size: 16px;
    }
    .explore-box-wrap .tabbutton {
        padding: 15px;
        gap: 5px;
    }
    .data-left-inner {
        padding: 24px !important;
    }
}
@media(max-width: 600px){
    .explore-box-wrap .tabbutton button {
        width: 43%;
        min-width: 43%;
    }
}
@media(max-width: 460px){
    .approach-cover-main h1{
        font-size: 26px;
    }

    .deliver-qualitywork .deliver-description {
        font-size: 16px;
    }
    .explore-data-left {
        padding: 24px;
    }
    .explore-box-wrap .tabbutton button {
        width: 62%;
        min-width: 62%;
    }
}