@import "../../styles/variables.scss";
@import "../../styles/customMediaQueries.scss";
.dropDownMenu {
  position: relative;
  transition: visibility 0s, opacity 0.2s linear;
  @include lg {
    &:hover {
      transition: visibility 0s, opacity 0.2s linear;
      .menuList {
        transition: visibility 0s, opacity 0.2s linear;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .dropdownBtn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include lg {
      justify-content: flex-start;
      width: auto;
      padding: 30px 0;
    }
    &:hover {
      color: $base-color;
    }
    .caret {
      display: inline-block;
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-bottom: 0;
      border-left: 4px solid transparent;
      margin-left: 5px;
      line-height: 0;
      height: 0px;
      width: 0px;
    }
  }
  .menuList {
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1000;
    min-width: 280px;
    padding: 0.5rem 0;
    list-style: none;
    background-color: $white-color;
    background-clip: padding-box;
    @include lg {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      position: absolute;
      top: 100%;
      border-radius: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }

    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $black-color;
      padding: 8px 20px;
      text-decoration: none;
      display: inline-block;
      width: 100%;
      position: relative;
      &:hover {
        background-color: #f6f6f6;
        color: $black-color;
        &::before {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 3px;
          background-color: $base-color;
          content: "";
        }
      }
    }
  }
}
