.topbar {
  position: sticky;
  top: 0;
  z-index: 99;
  background: $white-color;
  border-bottom: 1px solid $border-color;
  box-shadow: 0px 0px 5px 0px rgb(152 152 152 / 70%);
  position: relative;
  .topbarNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  .logo {
    & > img {
      max-width: 100%;
      width: 170px;
      @include lg {
        width: 200px;
      }
    }
  }
  .toggleBtn {
    padding: 0;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 69%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    @include lg {
      display: none;
    }
  }
  .navigation {
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    @include lg {
      display: flex;
    }
    .navlink {
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #101820;
      padding: 0;
      text-decoration: none;
      display: inline-block;
      padding: 0;
      &:not(:last-child) {
        margin-right: 24px;
        @media xl {
          margin-right: 32px;
        }
      }
      & > a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #101820;
        padding: 0;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        &:hover {
          color: $base-color;
        }
        &.hiringButton {
          color: $white-color;
          padding: 12px 24px;
          &:hover {
            color: $white-color;
          }
        }
      }
      .dropdownLink {
        display: inline-flex;
        align-items: center;
        &:hover {
          color: $base-color;
          cursor: pointer;
        }
      }
    }
    &.expand {
      display: flex;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 10px 24px;
      flex-direction: column;
      justify-content: flex-start;
      box-sizing: border-box;
      box-shadow: $box-shadow;
      & .navlink {
        width: 100%;
        margin: 0;
        padding: 15px 0;
        border-top: solid 1px $border-color;
        @include lg {
          border: none;
          padding: 10px 0;
        }
      }
    }
  }
}
