@import "../../../styles/customMediaQueries.scss";
@import "../../../styles/variables.scss";
.join-our-team {
  background: $white-color;
  padding: 24px;
  box-shadow: 0px 0px 15px rgba(0, 91, 88, 0.3);
  border-radius: 10px;
  position: relative;
  @include md {
    padding: 64px 24px 49px 24px;
  }
  h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: $black-color;
    margin-bottom: 6px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 0;
    color: $black-color;
    text-align: justify;
  }
  span {
    background-color: $base-color;
    padding: 20px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @include md {
      position: absolute;
      top: -50px;
      left: 24px;
      margin-bottom: 0;
    }
    & > img {
      max-width: 100%;
      width: 45px;
    }
  }
}
