.footer-box {
  border-top: 1px solid $black-color;
  .footer_wrap {
    z-index: 9;
    position: relative;
    background: $white-color;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    @include lg {
      flex-direction: row;
    }
    .footer-logo {
      width: calc(100% / 1);
      margin-bottom: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      @include lg {
        width: calc(100% / 3);
        margin-bottom: 0px;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        color: $black-color;
        margin-top: 24px;
        margin-bottom: 0;
        @include lg {
          font-size: 16px;
        }
      }
    }
    .hiring-box {
      display: flex;
      flex-direction: column;
      width: calc(100% / 1);
      margin-bottom: 20px;
      @include lg {
        width: calc(100% / 2);
        margin-bottom: 0;
      }
      .hiring-heading {
        margin-bottom: 10px;
        @include lg {
          margin-bottom: 14px;
        }

        h3 {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          color: $base-color;
          @include lg {
            font-size: 18px;
          }
        }
      }
    }
    .hiring-block {
      display: flex;
      flex-direction: column;
      @include sm {
        flex-direction: row;
      }
      .hiring-link {
        width: calc(100% / 1);
        @include sm {
          width: calc(100% / 2);
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            margin-bottom: 6px;
            @include lg {
              margin-bottom: 8px;
            }
            a {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              color: $black-color;
              text-decoration: none;
              @include lg {
                font-size: 16px;
              }
              &:hover {
                color: $base-color;
              }
            }
          }
        }
      }
    }
    .footer-email {
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: $base-color;
        @include lg {
          font-size: 18px;
        }
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        color: $black-color;
        @include lg {
          font-size: 16px;
        }
      }
    }
  }

  .footer-bar {
    background: rgba(0, 91, 88, 0.1);
    .contentWidth {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 24px;
      flex-direction: column;
      @include lg {
        padding: 24px;
        flex-direction: row;
      }
    }
    .copyright-link {
      text-align: center;
      @include lg {
        text-align: left;
      }
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-transform: capitalize;
        color: $black-color;
        margin-right: 6px;
        @include lg {
          font-size: 16px;
        }
      }
    }
    .social-link {
      text-align: center;
      margin-bottom: 5px;
      @include lg {
        text-align: left;
        margin-bottom: 0px;
      }
      a {
        padding-right: 14px;
        @include lg {
          padding-right: 24px;
        }
        &:last-child {
          padding-right: 0px;
        }
      }
    }
    .policy-link {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      @include lg {
        text-align: left;
        justify-content: flex-end;
      }
      a {
        &:hover {
          color: $base-color;
          text-decoration: none;
        }
      }
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: $black-color;
        text-decoration: none;
        padding-right: 14px;
        @include lg {
          padding-right: 24px;
          font-size: 16px;
        }
        &:last-child {
          padding-right: 0px;
        }
        &:hover {
          color: $base-color;
        }
      }
    }
  }
}
