@import "../../../styles/customMediaQueries.scss";
@import "../../../styles/variables.scss";
.article-card-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  cursor: pointer;
  &:hover {
    .blog-card-data {
      .blog-card-title {
        color: $base-color;
        text-decoration: underline;
      }
    }
  }
  .blog-cover-image {
    border: 1px solid #c0c0c0;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    overflow: hidden;
    & > img {
      width: 100%;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .blog-card-data {
    margin-top: 0;
    padding-left: 16px;
    width: calc(100% - 100px);

    .blog-card-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      color: $black-color;
      margin-bottom: 0;
    }
    .blog-card-detail-box {
      margin-top: 12px;
      display: flex;
      flex-direction: column-reverse;
      .blog-profile-list {
        display: flex;
        align-items: center;
        img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
        }
        .card-profile-wrap {
          margin-left: 12px;
          .profile-name {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-transform: capitalize;
            color: $black-color;
            & > span {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              text-transform: capitalize;
              color: $text-color;
            }
          }
          .post-date {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-transform: capitalize;
            color: $black-color;
            margin-top: 4px;
          }
        }
      }
      .blog-card-description {
        margin-left: 0;
        padding-left: 0;
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: $black-color;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
          display: none;
        }
      }
    }
  }
}
.article-card-box .article-box-wrap-card {
  margin-top: 24px;
}
