.trend-cover-wrap{
    text-align: center;
    width: 384px;
}
.trend-cover-wrap h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: #101820;
    margin-bottom: 0;
}
.trend-cover-wrap .tranding-text-head {
    height: 75px;
}